@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&amp;family=Poppins:wght@400;500;600;800;900&amp;family=Roboto:wght@300;400&amp;display=swap";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

:root {
  --color-1: #5E54F9;
  --color-2: #5E54F9;
  --color-3: #fe0047;
  --color-4: #5E54F9;
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: Poppins, sans-serif;
  --font-secondary: "Open sans", sans-serif;
  --gradient-1: #e100ff, #6b81fa, #60bad6
}

body {
  margin: 3em auto;
  max-width: 80%;
  background-color: #1254c7cc;
  color: #222;
  font-family: var(--font-primary), var(--font-default);
  font-size: 14.5px;
  overflow-wrap: break-word;
  line-height: 2em;
  -webkit-box-shadow: rgba(11, 194, 240, 0.19) 0 0 20px 0;
  box-shadow: rgb(0 0 0/19%) 0 0 20px 0
}

::-moz-selection {
  background-color: #58ecff;
  color: #fff
}

::selection {
  background-color: #059aae;
  color: #fff
}

a {
  text-decoration: none;
  color: #fff
}

header {
  font-family: var(--font-secondary);
  background: #9fb9ff;
  text-align: center
}

a.logo {
  display: block;
  border-top: 2px solid var(--color-1);
  font-size: calc(2vw + 1.5em);
  color: var(--color-1);
  letter-spacing: 1px;
  font-variant-caps: all-small-caps;
  line-height: 2em
}

nav {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-variant-caps: all-small-caps;
  background: #c1bdff;
  overflow: hidden;
  border-bottom: 1px solid #333
}

nav a {
  position: relative;
  line-height: 50px;
  font-weight: 700
}

nav a::after,
nav a::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #ccc;
  width: 0;
  bottom: 0;
  -webkit-transition: width .3s cubic-bezier(.23, 1, .32, 1);
  -o-transition: width .3s cubic-bezier(.23, 1, .32, 1);
  transition: width .3s cubic-bezier(.23, 1, .32, 1)
}

nav a::before {
  right: 0
}

nav a::after {
  left: 0
}

nav a:hover::after,
nav a:hover::before {
  width: 50%
}

.showcase {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff
}

.show {
  padding: 1em;
  height: auto;
  color: #dfdfdf;
  text-align: center;
  background: -o-linear-gradient(45deg, #000000e0, #000000cf);
  background: linear-gradient(45deg, #000000e0, #000000cf)
}
.show-img {
  width: 10em;
  margin: 2em auto
}

.show ul {
  margin: 1em 0
}

.show li {
  font-size: 16px;
  list-style-type: none
}

.show p {
  line-height: 2;
  margin: 10px 0;
  color: inherit;
  text-align: center
}

.show li::before {
  content: "-  "
}

.cnt {
  padding: 10px;
  background-color: #fff
}

.cnt p a::before,
li a::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--color-2);
  width: 0;
  bottom: 0;
  -webkit-transition: width .3s cubic-bezier(.23, 1, .32, 1);
  -o-transition: width .3s cubic-bezier(.23, 1, .32, 1);
  transition: width .3s cubic-bezier(.23, 1, .32, 1)
}

.cnt p a:hover::before,
li a:hover::before {
  width: 100%
}

.cnt p a,
li a {
  position: relative;
  color: var(--color-2);
  font-weight: 700;
  border-bottom: 1px dashed #8d8d8d
}

.cnt p a:hover,
li a:hover {
  opacity: 1;
  border-color: var(--color-2)
}

p {
  margin: 26px 0;
  padding: 0;
  color: #181818;
  font-size: 15px;
  line-height: 2.3em
}

.bg-info {
  color: #fff;
  background-color: #013b42;
  padding: 20px 30px;
  border-radius: 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  font-weight: 400;
  margin: 6px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

h3 {
  font-size: calc(0.6vw + 1em)
}

h1.title {
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: calc(0.5vw + 1.8em);
  margin: 1rem;
  font-weight: 300
}

.entry-title {
  padding-top: 1em;
  text-align: center;
  font-size: calc(0.7vw + 20px);
  overflow-wrap: break-word;
  color: #222;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
  background: #fff
}

hr {
  margin: 1em auto;
  width: 30%;
  height: 2px;
  border: none;
  background: -o-linear-gradient(left, #f85d7f, #e100ff 36%, #6b81fa 68%, #a0fbcd);
  background: -webkit-gradient(linear, left top, right top, from(#f85d7f), color-stop(36%, #e100ff), color-stop(68%, #6b81fa), to(#a0fbcd));
  background: linear-gradient(90deg, #f85d7f, #e100ff 36%, #6b81fa 68%, #a0fbcd)
}

.boxdiv {
  margin: 4em 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  row-gap: 4em
}

.box {
  border-bottom: 2px solid #5E54F9;
  text-align: left;
  padding: 1em;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}

.box p {
  margin: 0
}

.boxtxt {
  display: block;
  background: -o-linear-gradient(60deg, var(--gradient-1));
  background: -o-linear-gradient(30deg, var(--gradient-1));
  background: linear-gradient(60deg, var(--gradient-1));
  color: #ccc;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: #5E54F9;
  -webkit-background-clip: text
}

.box-icon svg {
  width: 80px;
  height: 80px;
  fill: #000;
  -webkit-transition: .2s cubic-bezier(.68, -.55, .265, 1.55);
  -o-transition: .2s cubic-bezier(.68, -.55, .265, 1.55);
  transition: .2s cubic-bezier(.68, -.55, .265, 1.55)
}

.box:hover {
  border-color: var(--color-1);
  -webkit-transform: scale(1.01) translateY(-5px);
  -ms-transform: scale(1.01) translateY(-5px);
  transform: scale(1.01) translateY(-5px)
}

.fh-1 {
  color: #fff;
  font-weight: 400;
  background: -o-linear-gradient(right, #5E54F9, #5E54F9, #5E54F9, #5E54F9, #5E54F9);
  background: -webkit-gradient(linear, right top, left top, from(#0ceda5), color-stop(#5E54F9), color-stop(#5E54F9), color-stop(#5E54F9), to(#5E54F9));
  background: linear-gradient(to left, #5E54F9, #5E54F9, #5E54F9, #5E54F9, #5E54F9);
  width: auto;
  margin: 1em 0;
  font-size: 25px;
  line-height: 1;
  padding: 14px
}

.fh-2 {
  color: #fff;
  background: var(--color-4);
  display: inline-block;
  line-height: 2;
  padding: 5px 12px;
  -webkit-box-shadow: 0 0 7px #00000040;
  box-shadow: 0 0 7px #00000040;
  border-left: 15px solid #5E54F9
}

.fh-3 {
  color: #222;
  font-family: var(--font-secondary)
}

.dsn-1 {
  border: 1px solid #00c9b7;
  padding: 0 1em
}

.fh-4 {
  margin: 0;
  color: #fff;
  padding: 1em 0;
  background: #00c9b7
}

.icon {
  color: #000;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 80px
}

.install-img {
  max-width: 40%
}

.ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: .5em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
  overflow-x: scroll
}

.ss img {
  pointer-events: none;
  scroll-snap-align: center;
  margin: 0 1em;
  max-width: 250px
}

footer {
  border-bottom: 2px solid var(--color-1);
  color: #fff;
  padding: 20px 40px;
  letter-spacing: 1px;
  line-height: 3.5em;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  background-color: #5E54F9
}

footer a,
footer a:hover {
  color: #fff
}

.links a {
  padding: 0 10px;
  display: inline-block
}

.links a:hover {
  opacity: .7
}

.center {
  text-align: center
}

ul {
  margin: 1em 0 1em 2.5em;
  list-style-type: "\279C   "
}

li {
  margin: 6px 0
}

img {
  display: block;
  margin: 1em auto;
  max-width: 100%
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse
}

th {
  font-weight: 700;
  background-color: #01feaa26
}

td,
th {
  text-align: left;
  padding: 9px 5px;
  vertical-align: top
}

tr:nth-child(odd) {
  background-color: #f5f5f5
}

.btndiv {
  margin: 3.5em 0
}

.btndiv a {
  color: #fff
}

.btndiv a:hover {
  color: #fff
}

a.btn {
  background: #111;
  border: 5px solid #5E54F9;
  border-radius: 10px;
  color: #fff;
  font-size: calc(0.3vw + 1.1em);
  padding: 22px 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

a.btn:hover {
  opacity: .9;
  color: #fff
}

a.download {
  background: 0 0;
  border: 2px solid #5E54F9;
  border-radius: 13px;
  padding: 1em 2em;
  font-size: 17px
}

.faq-list {
  list-style-type: none;
  margin: 0
}

.faq {
  font-weight: 700;
  font-size: 20px;
  color: #f5548e;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 5px
}

.ans {
  list-style-type: none;
  margin: 0 0 20px 10px;
  text-align: left;
  padding: 1em;
  padding-top: 2em;
  font-size: 15px;
  border-radius: 10px;
  border: 1px dashed #e3e3e3;
  -webkit-box-shadow: 0 2px 15px 0 #00000017;
  box-shadow: 0 2px 15px 0 #00000017
}

.faq::before {
  content: "\279C  "
}

.ans::before {
  font-family: FontAwesome;
  content: "\f0da  "
}

.r-radius {
  border-radius: 50%
}

.toc {
  display: inline-block;
  border: var(--border-1);
  margin: 1em 0;
  border-radius: 10px;
  padding: 10px 1em;
  -webkit-box-shadow: rgb(0 0 0/19%) 0 0 13px 0;
  box-shadow: rgb(0 0 0/19%) 0 0 13px 0
}

.toc li {
  margin: 0 1em;
  list-style-type: square
}

.toc a {
  font-weight: 600;
  color: var(--color-3)
}

.toc a:hover {
  text-decoration: none;
  border-color: var(--color-3)
}

.share {
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.share a {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 15px;
  margin: 1%;
  padding: 15px 0;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none
}

.share a svg {
  fill: #fff;
  stroke: none;
  margin: 0;
  vertical-align: middle;
  width: 1em;
  height: 1em
}

.whatsapp {
  background-color: #25d366
}

.facebook {
  background-color: #3b5998
}

.twitter {
  background-color: #55acee
}

.telegram {
  background-color: #08c
}

.email {
  background-color: #5a5a5a
}

.share a:hover {
  color: #fff;
  opacity: .9
}

.reviews {
  text-align: center;
  -webkit-box-shadow: 0 0 4px 1px #d6d6d6;
  box-shadow: 0 0 4px 1px #d6d6d6;
  font-family: roboto, sans-serif;
  padding: 10px 20px;
  border-radius: 3px;
  line-height: 2em
}

.reviews span {
  display: block;
  font-size: 30px;
  margin: 10px 0
}

.reviews img {
  border-radius: 20%;
  max-width: 6em;
  margin: 1em auto
}

.ytbox {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 0
}

.ytbox .btn {
  color: #fff;
  padding: 10px 22px;
  border-radius: 7px;
  font-size: 20px;
  background: #c00
}

.text-glow {
  display: block;
  background: -o-linear-gradient(60deg, var(--gradient-1));
  background: linear-gradient(30deg, var(--gradient-1));
  color: #fff;
  font-weight: 700;
  margin: auto;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: calc(0.7vw + 2em);
  background-clip: text;
  -webkit-text-fill-color: #5E54F9;
  -webkit-background-clip: text;
  font-variant-caps: titling-caps;
  text-shadow: var(--color-1) 0 5px 20px
}

.typewrite {
  margin: 0
}

.typewrite .wrap {
  border-right: .1em solid #ffffff31
}

.dl-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 2em 0
}

.dl-wrapper p {
  margin: .2em 0
}

.fh-sm {
  font-weight: 700;
  margin: 1em auto;
  font-size: calc(0.3vw + 1em)
}

#countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 8px solid #afafaf;
  background: #232323;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em auto;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 40px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#hidden-cnt {
  display: none
}

@media screen and (max-width:700px) {

  body,
  .install-img,
  img {
    max-width: 100%;
    margin: auto
  }
}

#faq {
  text-align: center;
}

.download-button {
  color: #0000FF !important;
}

.btndiv1 {
  text-align: center;
}

.btndiv1 {
  padding: 30px 0;
}

.contact-form {
  margin: auto;
  max-width: 500px;
  padding: 20px;
}

.contact-form form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form form button[type="submit"] {
  background-color: #00a6b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form form button[type="submit"]:hover {
  background-color: #008c9b;
}

footer div span {
  margin-right: 10px;
  color: #ccc;
}